<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0 ,IE=edge, chrome=1">
    <link href="~/Styles/SideBar.css" rel="stylesheet" />
    <link href="~/Styles/TopBar.css" rel="stylesheet" />
    <link href="~/Styles/mainPage.css" rel="stylesheet" />
    <script src="~/Scripts/Sidebar.js"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:0px; max-width:100%; max-height:100%;  "background="https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">

    <!-- This is the top fixed header bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <div class="navbar-header col-md-9" style="margin-right:30px;">
                    <h2 class="navbar-brand" style="font-family:Georgia; color:gainsboro; position:fixed;">Islamic Center of Mississippi at Starkville</h2>
                </div>
                    <div class="col-md-2" style="padding:0px; margin:0px;">
                        <h4 style="color:antiquewhite; font-family:'Javanese Text'; margin-top:18px;">@ViewBag.hijriDay</h4>
                    </div>
               
            </div>
        </div>
    </nav>


    <div class="row" style="margin-top: 50px;">
        <!-- This is the side menu -->
        <div class="col-md-2">
            <div class="side-menu">

                <nav class="navbar navbar-default" role="navigation">

                    <!-- Main Menu -->
                    <div class="side-menu-container" style="width:200px;">
                        <ul class="nav navbar-nav">
                            <li class="">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="">@Html.ActionLink("Prayer Times", "Date", "Date")</li>
                            <li class="">@Html.ActionLink("Resources", "Index", "Home")</li>
                            <li class="">@Html.ActionLink("Services", "Index", "Home")</li>
                            <li class="">@Html.ActionLink("Donate", "Index", "Home")</li>
                            <li class="panel panel-default active" id="dropdown">
                                <!-- Drop down-->
                                <a data-toggle="collapse" href="#dropdown-lvl1">
                                    <span class="glyphicon glyphicon-user"></span> About <span class="caret"></span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-lvl1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li class="">@Html.ActionLink("History", "History", "Paragraph")</li>
                                            <li class="">@Html.ActionLink("Staff", "Paragraph", "Paragraph")</li>
                                            <li class="">@Html.ActionLink("Organization", "Paragraph", "Paragraph")</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="">@Html.ActionLink("Contact", "Contact", "Contact")</li>



                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div>
        </div>

        <!-- This is the body div-->
        <div class="content col-md-7" style="margin-top:35px; margin-right:0px; padding:0px;">
            <div class="container body-content" style=" width:930px;">
                @if (TempData["notice"] != null)
                {
                    <div id="mydiv" class="jumbotron jumbotron-fluid" style=" color:aquamarine; width:400px; background-color:mediumseagreen !important;">

                        <div class="container" style="">
                            <h3 style="font-family:Georgia;">@TempData["notice"]</h3>
                        </div>
                    </div>
                }
                @RenderBody()

            </div>
        </div>


        <!-- This is the fixed right side table-->
        <div class="col-md-1" style="background-color: rgba(255, 255, 255, 0); margin-top:50px; margin-left:60px; z-index:1;">
            <div style="position:fixed;">
                <h3 class="control-label" style=" color:darkslategray; font-size:20px; margin-left:20px;">Today's Prayer Schedule: </h3>
                <table class="table table-curved table-sm table-dark table-bordered border-radius" style="background-color:white; max-width:100%; margin:15px; border-radius:26px; -moz-border-radius:26px;">
                    <thead>
                        <tr style="background-color:cornflowerblue; color:white; font-family:Calibri;">
                            <th scope="row">Prayer</th>
                            <th scope="row">Time</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Fajr</th>
                            <th scope="row">4:45</th>
                        </tr>
                        <tr>
                            <th scope="row">Duhr</th>
                            <th scope="row">1:00</th>
                        </tr>
                        <tr>
                            <th scope="row">Asr</th>
                            <th scope="row">4:45</th>
                        </tr>
                        <tr>
                            <th scope="row">Magrib</th>
                            <th scope="row">6:20</th>
                        </tr>
                        <tr>
                            <th scope="row">Isha</th>
                            <th scope="row">8:00</th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>



    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - ICM Starkville</p>
    </footer>

    <!-- JS Scripts -->
    <script>
        setTimeout(fade_out, 2000);

        function fade_out() {
            $("#mydiv").fadeOut().empty();
        }

        // When the user scrolls the page, execute myFunction
        window.onscroll = function () { myFunction() };

        // Get the header
        var header = document.getElementById("myHeader");

        // Get the offset position of the navbar
        var sticky = header.offsetTop;

        // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
