@model icm_first.Models.ContactModel
@{
    ViewBag.Title = "Contact";


}
@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })<br />
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor(model => model.Name)<br />
    </div>
    <div class="form-group">

        @Html.LabelFor(model => model.Email, new { @class = "control-label" })<br />
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor(model => model.Email)<br />
    </div>
    <div class="form-group" style="margin:0px; padding:0px;">
        @Html.LabelFor(model => model.Message, new { @class = "control-label" })<br />
        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })<br />
        @Html.ValidationMessageFor((model => model.Message))<br />
    </div>
    <div class="container">
        <div class="row">
            <button type="button" onclick="location.href='@Url.Action("Index", "Home")';return false;" class="btn btn-info btn-lg" style="width:140px;">Back</button>
            <button type="submit" class="btn btn-success btn-lg" style="width:140px;">Send</button>
        </div>
    </div>
  
}
